doctype html 
html 
  head 
    title #{pageTitle}
    link(rel="stylesheet", href="/client/css/index.css")
    link(rel="stylesheet", href="/admin/css/detail-product/detail.css")
  body 
    include ../partials/header.pug
    .main-content
      block main 
    include ../partials/footer.pug
    script(src="/client/js/script.js")