header.admin-header
    .logo Admin Panel
    nav.admin-nav
        ul
            li
                a(href="/admin/login") Đăng nhập
            li
                a(href="/admin/logout") Đăng xuất
