aside.admin-sider
    ul.menu
        li 
            a(href="/admin/dashboard") Tổng quan
        li 
            a(href="/admin/products") Sản phẩm
        li 
            a(href="/admin/orders") Đơn hàng
        li 
            a(href="/admin/users") Người dùng
        li 
            a(href="/admin/settings") Cài đặt
